/* Global Resets */
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Layout container */
.container {
    width: 400px;
    margin: 0 auto;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #C6C6C6;
}

.navbar-logo {
    width: 120px;
}

.profile-image {
    width: 30px;
    border-radius: 50%;
}

/* Header */

header{
    display: flex;
    padding: 10px;

}

header h2,
header h3 {
    margin: 0 5px;
}

header h2 {
    font-size: 13px;
    font-weight:600;
}

header h3 {
    font-size: 12px;
    font-weight: 100;
}

/* Main */
main img {
    width: 100%;
    margin: 0;
}

.post-engagement{
    margin: 10px 8px;

}

.post-actions{
    display: flex;
    gap: 1;
}

.post-img {
    width: 25px;
    padding-right: 15px;
}

.post-img:hover {
    opacity: 50%;
}

#likes,
#comment {
    font-size: 13;
}

#likes,
#user-comment {
    font-weight: bold;
}

/* Utilities */
.flex-column {
    display: flex;
    flex-direction: column;
}

